---

---

<footer class="">
  <img src="/images/bg-footer-top-desktop.svg" alt="" class="w-full mt-20" />
  <div
    class="bg-very-dark-cyan flex md:flex-row flex-col-reverse p-10 items-center"
  >
    <div class="md:w-1/2 p-10 md:p-0 m-auto flex flex-col gap-5">
      <div class="flex items-center gap-2">
        <img src="/images/icon-messages-white.svg" alt="imagen-nesseges" />
        <h2 class="text-white text-4xl font-bold">Hubdle</h2>
      </div>
      <p class="text-white sm:w-96">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nulla
        quam, hendrerit lacinia vestibulum a, ultrices quis sem.
      </p>
      <div class="flex gap-5">
        <img src="/images/icon-phone.svg" alt="imagen-phone" width="16" />
        <p class="text-white">Phone: +1-543-123-4567</p>
      </div>
      <div class="flex gap-5">
        <img src="/images/icon-email.svg" alt="imagen-email " width="24" />
        <p class="text-white">example@huddle.com</p>
      </div>
      <div class="flex gap-5 mt-10">
        <img src="images/facebook.svg" alt="imagen-facebook" width="32" />
        <img src="images/instagram.svg" alt="imagen-instagram" width="32" />
        <img src="images/square-twitter.svg" alt="imagen-twitter" width="32" />
      </div>
    </div>
    <div class="p-10 md:p-0 m-auto flex flex-col gap-5 md:w-1/4">
      <h4 class="text-4xl text-white font-semibold">NEWSLETTER</h4>
      <p class="text-white">
        To recieve tips on how to grow your community, sign up to our weekly
        newsletter. We’ll never send you spam or pass on your email address
      </p>
      <form class="flex flex-col">
        <input type="text" class="rounded-md w-full p-2" />
        <button
          type="submit"
          class="p-2 mt-2 bg-primary-pink rounded-md text-white w-1/2 ml-auto hover:bg-light-pink duration-500"
          >Suscribe</button
        >
      </form>
    </div>
  </div>
</footer>
