---

---

<header>
  <nav class="flex justify-between mt-10 items-center p-5">
    <div class="flex items-center gap-2">
      <img src="./images/icon-messages.svg" alt="logo" />
      <h1 class="text-3xl font-bold">Huddle</h1>
    </div>
    <div>
      <button
        class="border rounded-xl py-1 px-8 border-primary-pink text-primary-pink shadow-sm shadow-primary-pink"
        >Try Free</button
      >
    </div>
  </nav>
</header>
